@font-face {
	font-family: "terminal"; 
	src: url("fonts/terminal-grotesque_open.otf") format("opentype");
}
@font-face {
	font-family: "degheest"; 
	src: url("fonts/Director-Regular.woff") format("woff");
}

html {
	scroll-behavior: smooth;
}

#container3D canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
    
}
body { 
	max-width: 100%;
  overflow-x: hidden;
	
}

* { 
	box-sizing: border-box;
	scrollbar-color: #226a6e #d7f2ac;
}



img { max-width: 100% }

nav {
	
  display: flex;
	flex-wrap: wrap;
	text-align: right;
	justify-content: right;
}

main {
	margin: 10px auto;
	max-width: 100%; 
}

section {
	border: 2px dashed #ddfcac;
	outline: 3px dotted #ddfcac;
	outline-offset: 2px;
  border-radius: 10px;
	max-width: calc(100% - 50px);
}

nav a, .up a {
	 font-family: "manofa";
  color: #8B2635;
	display: block;
	border: 3px #8B2635 dotted;
  border-radius: 30px;
	margin: 10px;
	padding: 5px 5px 3px 50px;
	text-decoration: none;
	font-size: 30px;
	background-color: rgb(70, 171, 80,0.3);
}

hr {
	border: none;
	border-top: 1px solid #2E3532;
}

header {
	font-size: 55px;
	display: flex;
	font-family: "hydrophilia-iced", serif;
	color: #c8ed7e;
}




header div { margin: 10px 10px 0 10px;  }

 h2, h3, h4, h5, h6, p, table, details, cite, pre, blockquote {
	margin: 1rem 0;
}

a { font-family: 'terminal'; font-weight: normal; }

h2{font-size: 22px;
	font-family: "hydrophilia-iced", serif;
	color: #c8ed7e;
  text-align:center;
	}

h3{
  font-family: "reflex-pro-variable", sans-serif;
font-size: 0.85em; 
  color: #c8ed7e; 
   text-align: left;

  line-height:15px;
}

h1{font-family: "gothicus", serif;
font-size: 3.2em; 
  text-align: left;
color: #630234;
margin: .4rem 0;}

a { font-family: manofa, 
  sans-serif; color: #8B2635; padding: 2px 2px; font-size: 1em; }

ul, ol {
	margin: 1rem 0 1rem 1.5rem;
}

dl { margin: 1rem 0; }

dt { 
	background: linear-gradient(to right, #2E3532, #E0E2DB);
	padding: 0.25rem 0.5rem;
	color: #E0E2DB;
}

dd { padding: 1rem; }

ul ul, ol ol { 
	margin: 0 0 0 2rem;
}

p, table,  ul, ol, dl {
	font-size: 1rem;
	line-height: 1.5;
}

a:hover { 
	background-color: rgb(79, 24, 52, 0.6);
	color:#ddfcac;
  border: 3px dotted #ddfcac;
	
}

h6 { font-size: 1em; }
h5 { font-size: 1.25em; }
h4 { font-size: 1.5em; }


blockquote {
	border-left: #8B2635 3px solid;
	padding: 0 1rem;
}

cite { 
	display: block;
	text-align: right;
}

code, pre {
	background-color: #2E3532;
	color: #E0E2DB;
}

details { border: 1px solid; }

code { 
	font-family: 'Courier New', monospace; 
	padding: 2px 4px;
}

details, pre {
	padding: 1em;
}

pre { overflow-x: auto; }

details p { margin: 0.5rem 0 0 2rem; }

table {	border: 3px solid #2E3532; margin: 1rem auto; }
tr, td, th { border: 1px solid #2E3532; }
td, th { padding: 0.5rem }

figure {  display: table; margin: 1rem; }

figure img { margin: 5px auto; }

figcaption { 
	display: table-caption;
    caption-side: bottom;
    text-align: center;
}

footer { 
	font-size: 0.8em;
	text-align: center; 
	padding: 5px 10px;
	margin: 2rem;
}

.up { position: fixed;
	bottom: 10px; right: 10px; }

.flex-box {
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
	padding: 0;
	align-items: flex-start;
}

.flex-box section {
	margin: 1em;
	}

.full { flex: 1 1 100%;}
.half { flex: 1 1 calc(50% - 2em); }
.third { flex: 1 1 calc(33% - 2em); }
.twothird { flex: 1 1 calc(66% - 2em); }
.quarter { flex: 1 1 calc(25% - 2em); }
.threequarter { flex: 1 1 calc(75% - 2em); }


@media screen and (max-width: 1270px){
	.up { position: static; width: fit-content; margin: 10px auto; }
}

@media screen and (max-width: 700px){
	header { flex-wrap: wrap; }
	
	nav a {
		margin: 5px;
		padding: 15px 5px 2px 30px;
		text-decoration: none;
		font-size: 24px;
	}
	section {
		margin: .5em auto;
		padding: 0.5em 0.5em;
	}
	ul, ol {
		margin: 1rem 0 1rem 0.5rem;
	}
	ul ul, ol ol { 
		margin: 0 0 0 1rem;
	}
}

.header-container {
   text-align: center;
    max-width: 800px; /* or whatever max width you prefer */
    width: 50%; 
    margin: 0 auto;
    background-color: rgba(3, 15, 26, 0.6);
    border: 2px dotted #589600;
    border-radius: 0px;
}


#card {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 500px;
    background-image: url("https://cdn.glitch.global/584b34cd-0948-4769-809f-c6c22031e031/ocean-bg.png?v=1745339087193") ;
  --poster-color: #ffffff00;
}

.caption {
  
   text-align: center;
   background-color: rgba(3, 15, 26, 0.85);
  border-radius: 0px;
  padding: 0.6em;
   border: 2px dotted #589600;
  
  
}
